<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMS Prediction</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='smsstyle.css') }}">  
</head>

<body>
    <div class="navbar">
                
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('get_started') }}">Get Started</a>
        <a href="/sms">SMS Detection</a>
        <a href="/view-emails">Email Detection</a>
    
</div>
    <div class="container1">
        <img src="{{ url_for('static', filename='smslogo.png') }}" class="user">
        <div class="container">
            <h2 class="title">SMS Prediction</h2>
            <form action="{{ url_for('predict_sms') }}" method="post" class="form">
                <div class="formdiv">
                
                <textarea class="textbox" type="text" id="sms_input" name="sms_input" placeholder="Type your SMS message..." required cols="50" rows="10"></textarea>
                <button class="submit" type="submit">Predict</button>
            </div>
            </form>
            {% if prediction %}
                <p>Prediction: {{ prediction }}</p>
            {% endif %}
        </div>
    </div>
</body>

</html>
